/*-------------------------------------------------------
this file is for bootstrap media queries
-------------------------------------------------------*/
@media (max-width: 991px)
{
    .navbar
    {
        background: rgba(0,0,0,0.79);
    }
}

@media (min-width: 728px) and (max-width: 991px)
{
   
    .generic-cover-heading h3
    {
        font-size: 61px;
    }
    
    .navbar-brand img
    {
        height: 115px;
    }

/*************** home page ***************/
        #home-heading h3
        {
            font-size: 79px;
        }

        .art h2
        {
            font-size: 37px;
        }

    .right-icon
        {
            font-size: 13em;
        }

    .left-icon
        {
            font-size: 13em;
        }
    
    
/*************** about us page ***************/
    #diagonal-pic
    {
        width: 0%;
        height: 0;
        border-top: 0 solid transparent;
        border-right: 0 solid transparent;
    }
    
    #right-underline
    {
        margin: 0 auto 0 auto;   
    }

    .art2, .art3
    {
        padding-right: 11%;
        padding-left: 11%;
    }
    
/*************** get involved page ***************/
    .tex a
    {
        font-size: 29px;
    }

    .icon
    {
        font-size: 71px;
        float: left;
    }
    
    .sub-sec-headline
    {
        font-size: 0px;
        padding: 0;
    }
    
    #apply-now-style2
    {
        font-size: 0px;
        padding: 0;
    }

    #apply-now-style3
    {
        font-size: 51px;
    }
}
/*end of 768px-991px*/


@media (min-width: 684px) and (max-width: 727px)
{
       
    .generic-cover-heading h3
    {
        font-size: 51px;
    }

    .navbar-brand img
    {
        height: 105px;
    }
    
/***************home page***************/
        #home-heading h3
        {
            font-size: 73px;
        }

        .art h2
        {
            font-size: 31px;
        }

    .right-icon
        {
            font-size: 13em;
        }

    .left-icon
        {
            font-size: 13em;
        }

    
/***************about us page ***************/
    #diagonal-pic
    {
        width: 0%;
        height: 0;
        border-top: 0 solid transparent;
        border-right: 0 solid transparent;
    }
    
    #right-underline
    {
        margin: 0 auto 0 auto;   
    }

    .art2
    {
        padding-right: 11%;
        padding-left: 11%;
    }

    
/***************get involved page ***************/
    .tex a
    {
        font-size: 27px;
    }

    .icon
    {
        font-size: 71px;
        float: left;
    }
    
    .sub-sec-headline
    {
        font-size: 0px;
        padding: 0;
    }
    
    #apply-now-style2
    {
        font-size: 0px;
        padding: 0;
    }

    #apply-now-style3
    {
        font-size: 51px;
    }
    
}

@media (min-width: 570px) and (max-width: 683px)
{
           
    .generic-cover-heading h3
    {
        font-size: 41px;
    }
    
    .navbar-brand img
    {
        height: 100px;
    }
/***************home page ***************/
        #home-heading h3
        {
            font-size: 63px;
        }

        .art h2
        {
            font-size: 31px;
        }

    .right-icon
        {
            font-size: 13em;
        }

    .left-icon
        {
            font-size: 13em;
        }

/***************about us page ***************/
    #diagonal-pic
    {
        width: 0%;
        height: 0;
        border-top: 0 solid transparent;
        border-right: 0 solid transparent;
    }
    
    #right-underline
    {
        margin: 0 auto 0 auto;   
    }

    .art2
    {
        padding-right: 11%;
        padding-left: 11%;
    }

    
/***************get involved page ***************/
    .tex a
    {
        font-size: 51px;
    }
    
        .icon i
    {
        padding-top: 50px;
        padding-bottom: 0;
    }

    .sub-sec-headline
    {
        font-size: 0px;
        padding: 0;
    }
    
    #apply-now-style2
    {
        font-size: 0px;
        padding: 0;
    }

    #apply-now-style3
    {
        font-size: 45px;
    }
    
}



@media (max-width: 569px)
{
    .generic-cover-heading h3
    {
        font-size: 41px;
    }
    
    .navbar-brand img
    {
        height: 80px;
    }  
/***************home page ***************/
        #home-heading h3
        {
            font-size: 53px;
        }

        .art h2
        {
            font-size: 31px;
        }
    
        .art
        {
            padding: 17px;
        }
        .right-icon
        {
            font-size: 7em;
        }

        .left-icon            
        {
            font-size: 7em;
        }

/***************about us page ***************/
    #diagonal-pic
    {
        width: 0%;
        height: 0;
        border-top: 0 solid transparent;
        border-right: 0 solid transparent;
    }
    
    #right-underline
    {
        margin: 0 auto 0 auto;   
    }

    .art2, .art3
    {
        padding-right: 9%;
        padding-left: 9%;
        font-size: 15px;
    }

    
/***************get involved page e***************/
    .tex a
    {
        font-size: 51px;
        padding-top: 0;
    }
    
    .icon i
    {
        padding-top: 50px;
        padding-bottom: 0;
    }
    
    .sub-sec-headline
    {
        font-size: 0px;
        padding: 0;
    }
    
    #apply-now-style2
    {
        font-size: 0px;
        padding: 0;
    }

    #apply-now-style3
    {
        font-size: 35px;
    }
    
    .sub-sec-body
    {
        font-size: 13px;
    }

/***************campaign page ***************/
    .camp-headline
    {
        font-size: 41px;
        padding-left: 1%;

    }

    .camp-p
    {
        font-size: 13px;
        padding-right: 3%;
        padding-left: 3%;
        padding-bottom: 53px;
    }

    
/***************contact page ***************/
    #cont-head h3
    {
        font-size: 35px;
    }

    
    #cont-left-body p
    {
        font-size: 19px;
        color: black;
        padding: 37px;
    }
}



@media (max-width: 414px)
{
    .generic-cover-heading h3
    {
        font-size: 41px;
    }
    
    .navbar-brand img
    {
        height: 75px;
    }  
    
    .generic-home
    {
        height: 51%;
    }

/***************home page ***************/
    #home
    {
        background-image: url("../img/cropped2.png");
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100%;
    }
    
    #home-heading h3
        {
            font-size: 53px;
        }
        .btn-general
        {
            font-size: 13px;
        }
    
        .content-title h3
        {
            font-size: 31px;
        }

        .art h2
        {
            font-size: 21px;
        }
    
        .art
        {
            padding: 13px;
        }
    
        .right-icon
        {
            font-size: 5.7em;
        }

    .left-icon
        {
            font-size: 5.7em;
        }

/***************about us page ***************/
    
    #about-cover
    {
        background-image: url("../img/cropped-serenafilter2.JPG");
        background-size: contain;
        background-position: top;
    }
    #diagonal-pic
    {
        width: 0%;
        height: 0;
        border-top: 0 solid transparent;
        border-right: 0 solid transparent;
    }
    
    #right-underline
    {
        margin: 0 auto 0 auto;   
    }

    .art2, .art3
    {
        padding-right: 9%;
        padding-left: 9%;
        font-size: 13px;
    }

/***************cal of events page ***************/     
    #cal-events-cover
    {
        background-image: url("../img/cropped-marypirg-girl-holding-sign%20copy.jpeg");
        background-size: contain;
        background-position: top;
    }

    
    
    
 /***************get involved page ***************/   
    #get-inv-cover
    {
        background-image: url("../img/cropped-guytalkingps%20copy.jpg");
        background-size: contain;
        background-position: top;
    }

    .tex a
    {
        font-size: 51px;
        padding-top: 0;
    }
    
    .icon i
    {
        padding-top: 50px;
        padding-bottom: 0;
    }
    
    .sub-sec-headline
    {
        font-size: 0px;
        padding: 0;
    }
    
    #apply-now-style2
    {
        font-size: 0px;
        padding: 0;
    }

    #apply-now-style3
    {
        font-size: 35px;
    }
    
    .sub-sec-headline h2
    {
        font-size: 31px;    
    }

    
/***************campaings page ***************/    
    #camp-cover
    {
        background-image: url("../img/cropped-votetabletwitterfilter%20copy.JPG");
        background-size: contain;
        background-position: top;
    }

/***************contact page ***************/    
    #contact-cover
    {
        background-image: url("../img/cropped-pirggrouppic.JPG");
        background-size: contain;
        background-position: top;
    }
    
    #cont-head h3
    {
        font-size: 27px;
    }
    
    #cont-left-body p
    {
        font-size: 13px;
        color: black;
        padding: 37px;
    }   
}