/*-------------------------------------------------------
font family: Open Sans, permanent marker

colors:
blue:                       #01bafd
red:                       #ce2721

-------------------------------------------------------*/

/* general */

html,
body {
    height: 100%;
}

body {
    font-family: "lato";
    height: 100vh;
}

h3 {
    text-transform: none;
}

p {
    color: gray;
    font-weight: 300;
}


/*-------------------------------------------------------
generic buttons style
-------------------------------------------------------*/

.btn-general {
    border-color: white;
    border-width: 1.3px;
    border-radius: 0;
    padding: 7px 19px;
    font-size: 19px;
    font-weight: 500;
    font-family: "lato";
    border-radius: 8px;
    /*    box-shadow: 0px 5px #696969;*/
    position: relative;

/*    background-color: rgba(255,255,255, 0.35);*/
}


/*.btn-general:hover
{
	box-shadow: 0 3px #696969;
	top: 2px;
}

.btn-general:active
{
	box-shadow: 0 0px #696969;
	top: 5px;
}*/

.btn-white {
    border-color: white;
    color: white;
    text-shadow: 0px 0px 30px #000;
}


.btn-white:hover,
.btn-white:focus {
    /*        background-color: rgba(0,0,0, 0.3);*/
    background-color: white;
    /*    background-color: rgba(255,255,255, 0.3);*/
    color: black;
    font-weight: 300;
}

/*-------------------------------------------------------
general custome parallax class
-------------------------------------------------------*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*-------------------------------------------------------
animation
-------------------------------------------------------*/

#home-cover,
#home-heading,
#home-btn {
    animation-duration: 0.5s;
}

#home-cover {
    animation-delay: 0.1s;
}

#home-heading {
    animation-delay: 0.1s;
}

#home-btn {
    animation-delay: 0.75s;
}


/*-------------------------------------------------------
generic content style
-------------------------------------------------------*/

.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
/*     font-size: 47px;
    font-weight: 100;
    text-align: center;
    font-family: 'Lato', sans-serif; */
	font-size: 41px;
    text-align: center;
    font-family: "lato";
    color: black;
    padding-bottom: 0px;
}

.content-title-white h3 {
    color: white;
    text-align: center;
}

.content-title-underline {
    width: 61px;
    height: 3px;
    background-color: #00ffe9;
    margin: 0 auto 31px auto;
}

.content-title-underline-right {
    width: 61px;
    height: 3px;
    background-color: #00ffe9;
    margin-top: 7px;
}

.generic-heading {
    font-family: "lato";
    font-size: 39px;
    color: #000;

}
/*-------------------------------------------------------
generic social media icons style
-------------------------------------------------------*/

.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-right: 7px;
    margin-top: 11px;
}

.social-icon i {
    font-size: 29px;
}

.icon-gray i {
    color: darkslategray;
}

.icon-white i {
    color: white;
}

.social-icon i:hover {
    color: #00ffe9;
}


/*-------------------------------------------------------
navigation bar
-------------------------------------------------------*/

.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar {
    padding-right: 9%;
    transition: all .5s ease-in-out;

    /* background-color: white*/
    /*background: rgba(0,0,0,0.79);*/
}


.navbar-nav {
    float: right;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}


.scroll-top-nav {
    /*background-color: #96b573;*/
    background: rgba(0, 0, 0, 0.70);
}

.custome-nav-wrapper {
    padding-left: 3%;
    padding-bottom: 0;
}

.border-scroll {
    border-bottom-color: transparent;
}

.navbar-nav > li > a {
    font-weight: 300;
    margin-bottom: 0;
    color: white;
    font-size: 19px;
    /* text-shadow: 2px 1px 0px black;*/
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background: none;
    color: #fff;
    /* color: #01bafd;*/
    /*color: #96b573;*/
    font-weight: 600;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    border-radius: 0;
    z-index: 999;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-collapse {
    max-height: none !important;
}

.navbar-nav a.current {
    /*  background: #01bafd;*/
    /* background: #96b573;*/
    background: #fff;
    color: #000;
    border-radius: 25px;
}


/*-------------------------------------------------------
blog button style
-------------------------------------------------------*/
.custome-nav-wrapper-blog {
    padding-left: 3%;
    padding-top: 0;
    padding-bottom: 0;
}

.blog-style {
 padding-right: 0;   
}

.navbar-nav-blog {
    border-bottom-color: transparent;
    background-color: black
}

.blog {
    display: block;
    position: relative;
}

.cont {
    margin-left: 86%;
    display: block;
    height: 150px;
    width: 120px;
    background-image: url("../img/Asset4.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.txt-blog1 {

    display: block;
    position: relative;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
    font-size: 20px;
    color: white;
/*    text-shadow: 1px 1px black;*/
}

.txt-blog2 {
    margin-top: -37px;
    padding: 0;
    font-size: 40px;
    text-align: center;
    display: block;
    font-family: "Permanent Marker";
    color: #ce2721;
    text-shadow: 1px 1px 1px black;
}

/*-------------------------------------------------------
footer section
-------------------------------------------------------*/
.list-foot {
margin-top: 10px;
}

.footer-list {
/*margin-top: 8%;*/
list-style: none;
    list-style-type: none;
}

.footer-list li a {
    color: white;
    font-weight: 300;
    padding-right: 5px;
    padding-left: 5px;
}

.footer-list li {
    display: inline;
    color: white;
    font-size: 16px
}


.footer {
    background-color: dimgray;
}

#copyrights p {
    color: white;
    margin-bottom: 0;
    margin-left: 11px;
}

#footer-left p {
    color: white;
}

#footer-left h3 {
    color: white;
}

/*
.footer-index {
    background: -webkit-linear-gradient(-45deg, rgba(44, 216, 213, 0.65) 0%, rgba(142, 55, 215, 0.65) 100%);
    padding-top: 30px;
}

.footer-about {
    background: -webkit-linear-gradient(45deg, rgba(0, 159, 255, 0.6) 0%, rgba(236, 47, 75, 0.6) 100%);   
    padding-top: 30px;        
}

.footer-intern {
    background: -webkit-linear-gradient(45deg, rgba(100, 200, 119, 0.6), rgba(100, 0, 200, 0.6));
    padding-top: 30px;            
}

.footer-acmp {
    background: -webkit-linear-gradient(45deg, rgba(150, 0, 213, 0.6), rgba(0, 255, 215, 0.6));
    padding-top: 30px;        
}
.footer-cal {
    background: -webkit-linear-gradient(45deg, rgba(150, 7, 77, 0.6), rgba(50, 255, 151, 0.6));
    padding-top: 30px;    
}
.footer-inv {
    padding-top: 30px;
    background: -webkit-linear-gradient(-45deg, rgba(155, 0, 104, 0.6), rgba(51, 251, 253, 0.6));

}
.footer-camp {
    padding-top: 30px;
    background: -webkit-linear-gradient(315deg, rgba(200, 62, 84, 0.6), rgba(7, 250, 133, 0.6));
    
}

.footer-contact {    
    background: -webkit-linear-gradient(45deg, rgba(170, 36, 36, 0.6), rgba(74, 186, 257, 0.6));    
    padding-top: 30px;
}

.footer-faq {
    padding-top: 30px;
    background: -webkit-linear-gradient(45deg, rgba(100, 0, 119, 0.6), rgba(70, 150, 0, 0.6));
}
*/


/*-------------------------------------------------------
generic page heading graphics and titles
-------------------------------------------------------*/

.generic-home {
    height: 71%;
}

.generic-content-box {
    width: 100%;
    height: 100%;
    display: table;
    background-color: rgba(100, 50, 200, 0.3);
    /*    background: linear-gradient(45deg, yellow -20%,darkorange -90%, purple 90%);*/
}

.generic-content-box-other {
    width: 100%;
    height: 100%;
    display: table;
}

.generic-content-box-inner {
    display: table-cell;
    vertical-align: bottom;
}


.generic-cover-heading h3 {
    font-family: "lato";
    color: #FFF;
    font-size: 71px;
    font-weight: 300;
    margin: 20px 0 23px 2.9%;
    text-align: left;
    display: table;
    color: #fff;
    padding: 15px;
    border-radius: 11px;
}


/*------------------------------------------------------
collapsing section
-------------------------------------------------------*/

/*#collapse-sec-btn
{
    margin-top: 100px;
    background-color: aqua;
    width: 100%;
    height: 51px;
}*/

.fa-arrow-down {
    color: white;
}


.bounce {
    position: fixed;
    animation: 2s infinite;
}

.click-space {

    color: #fff;
    text-align: center;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    height: 100px;
    width: 100px;
    line-height: 100px;
    bottom: 20px;
}



.arrow {
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 2px;
    display: inline-block;
    height: 41px;
    width: 41px;
    vertical-align: middle;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(45deg);
}







/*-------------------------------------------------------
home page welcome section
-------------------------------------------------------*/

.accmp-single-sec {
    height: 100vh;
}


.art h2 {
    font-family: "lato";
    font-size: 39px;
    color: #000;
}


.art {
    padding: 50px;
}


.art p {
    font-size: 17px;
}


.accmp-pic {
    height: 450px;
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .3);
}

.accmp-pic:hover {
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}


#home {
    height: 100%;
    width: 100%;
    background-image: url("../img/group-front-resize.jpg");
    background-size: cover;
    position: relative;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}


#home-cover {
    height: 100%;
    background: -webkit-linear-gradient(-45deg, rgba(44, 216, 213, 0.65) 0%, rgba(142, 55, 215, 0.65) 100%);
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}


#home-heading h3 {
    /*    font-family: "lato";*/
    /*font-family: 'Julius Sans One', sans-serif;*/
    font-family: 'Poiret One', cursive;
    text-shadow: 0px 0px 100px #151515;
    /*text-transform: uppercase;*/
    /*    font-weight: 100;*/
    color: #FFF;
    text-align: center;
    font-size: 91px;
    margin: 20px 0 20px 0;
    /*    text-shadow: 0.5px 0.5px 0px white;*/
}

.home-card {
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .15);
}


.home-card:hover {
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

/*-------------------------------------------------------
ABOUT US PAGE
-------------------------------------------------------*/

#about-home {
    background-image: url("../img/serenafilter2.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#about-cover {
    height: 100%;
    /*    background-image: linear-gradient(-45deg, rgba(255,0,213,0.4) 0%, rgba(0,255,215,0.4) 100%);*/
    background: -webkit-linear-gradient(45deg, rgba(0, 159, 255, 0.6) 0%, rgba(236, 47, 75, 0.6) 100%);

    /*    background-image: linear-gradient(to right, rgba(131,96,195,0.5) ,rgba(46,191,145, 0.5));*/
}

#right-underline {
    width: 61px;
    height: 3px;
    background-color: #00ffe9;
    margin: 0 23% 0 auto;
}
.diagonal-color{
    background: -webkit-linear-gradient(45deg, rgba(0, 159, 255, 0.6) 0%, rgba(236, 47, 75, 0.6) 100%);
}
#diagonal-pic {
    background-image: url("../img/fullguyholdingsignfilter.JPG");
    float: left;
    background-position: left;
    background-size: contain;
    width: 50%;
    height: 70px;
    border-top: 900px solid transparent;
    border-right: 200px solid white;
}

.art2 {
    padding-bottom: 23px;
    padding-top: 23px;
    font-size: 19px;
    padding-right: 3%;
    padding-left: 3%;

}

.art3 {
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 23px;
    padding-top: 0;
    font-size: 19px;

}


.mission-headline h2 {
    font-size: 41px;
    text-align: center;
    font-family: "lato";
    color: black;
    padding-bottom: 0px;
}

.about-headline2 h3 {
    text-align: center;
    font-family: "lato";
    font-size: 31px;
}


/*-------------------------------------------------------
accomplishments (formely vote yes) page
-------------------------------------------------------*/

#accmp-home {
    background-image: url("../img/IMG_3839.jpeg");
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


#accmp-cover {
    height: 100%;
    background: -webkit-linear-gradient(45deg, rgba(150, 0, 213, 0.6), rgba(0, 255, 215, 0.6));
}

.acmp1 {

    /*    background-color: #fce95f;*/
    background-color: #fff;
    /*        background-image: linear-gradient(45deg, rgba(150,0,213,0.6) , rgba(0,255,215,0.6));*/
    height: 200px;
    display: block;
    margin: 30px;
    padding-left: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .15);
}

.acmp1num {
    /*    background-color: #6f2524;*/
    background-color: #00ffe9;
    height: 200px;
    width: 200px;
    display: block;
    margin: 30px;
    border-radius: 50%;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .2);
}

.acmp1:hover {
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

.acmp1num h3 {
    font-size: 275px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #ce2721;
    font-weight: 100;
}

.rowWrap {
    margin-left: 5%;
    margin-right: 5%;
}


.acmp1 p {
    color: black;
    font-size: 23px;
    margin-top: 6%;
}


/*-------------------------------------------------------
cal of events page
-------------------------------------------------------*/

#cal-home {
    background-image: url("../img/marypirg-girl-holding-sign.jpeg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

#cal-events-cover {
    height: 100%;
    background: -webkit-linear-gradient(45deg, rgba(150, 7, 77, 0.6), rgba(50, 255, 151, 0.6));

}

#cal-style {
    padding-right: 11%;
    padding-left: 11%;
    padding-bottom: 283px;
}


/*-------------------------------------------------------
get involved page
-------------------------------------------------------*/
#inv-home {
    background-image: url("../img/guytalkingps.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#get-inv-cover {
    height: 100%;
    background: -webkit-linear-gradient(-45deg, rgba(155, 0, 104, 0.6), rgba(51, 251, 253, 0.6));
}

.tex1 a,
.tex2 a,
.tex3 a {
    padding-left: 0;
    margin-left: 0;
    font-family: "permanent marker";
    color: #00ffe9;
    text-shadow: 3px 2px 0px #474747;
    font-size: 37px;
    text-decoration-line: none;
    text-align: center;
}

.tex1 {
    margin: -30px;
}

.tex2 {
    margin: -13px;
}

.tex3 {
    margin: -11px;
}

.tex a:hover {
    color: #000;
    text-shadow: 1px 3.7px 0px #00ffe9;
}

.icon {
    text-align: center;
    /*    height: 200px;*/
}

.icon:hover {
    transform: scale(1.02);
    transition: all .4s ease-in-out;
}

/*
.icon i
{
    font-size: 91px;
    text-shadow: 2px 2px 0px #01bafd;
    padding-top: 2.5%;
}
*/

.icon i:hover {
    color: #00ffe9;
    text-shadow: 2px 2px 0px black;
}

.sub-sec-headline {
    font-size: 61px;
    font-family: "lato";
    font-weight: 600;
    color: #ce2721;
    text-align: center;
}

.sub-sec-headline-big {
    font-size: 61px;
    font-family: "permanent marker";
    font-weight: 600;
    color: #ce2721;
    text-shadow: 2px 2px 0px black;
    text-align: center;
}


.sub-sec-headline h3,
h2 {
    text-align: left;
    padding-bottom: 31px;
    font-size: 37px;
    color: #00ffe9;
}

.sub-sec-headline h2 {
    color: #ce2721;
}

.inv {
font-size: 39px;
}

.sub-sec-body {
    padding-top: 23px;
    font-size: 19px;
}

.apply-now-style1 {
    font-size: 23px;
    text-decoration: none;
    font-family: "lato";
    color: #ce2721;
}

.apply-now-style1:hover {
    text-decoration: none;
    color: #00ffe9;
}

#apply-now-style2 {
    font-size: 51px;
    text-decoration: none;
    font-family: "permanent marker";
    color: #ce2721;
}

#apply-now-style2 a,
#apply-now-style3 a {
    color: #00ffe9;
}

#apply-now-style3 {
    font-size: 61px;
    text-decoration: none;
    font-family: "permanent marker";
    color: #ce2721;
    text-shadow: 2px 3px 0px black;
}

.sec-pad {
    padding-top: 141px;
}

#jobs-row-pad {
    padding-bottom: 283px;
}

.involved-card {
        padding: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .15);
}

.involved-card:hover {
        transform: scale(1.05);
    transition: all .2s ease-in-out;

}

.involved-card-text {
    padding: 50px;
    border-radius: 10px;
}



/*-------------------------------------------------------
Campaigns page
-------------------------------------------------------*/

.coming-soon h3 {
    text-align: center;
    margin-top: 5%;
    font-size: 5em;
    font-family: monospace;
    color: gray;
}

#camp-home {
    background-image: url("../img/votetabletwitterfilter.JPG");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}


#camp-body {
    padding-top: 50px;
}

#camp-cover {
    height: 100%;
    background: -webkit-linear-gradient(315deg, rgba(200, 62, 84, 0.6), rgba(7, 250, 133, 0.6));
}


.camp-headline {
/*
    font-family: "lato";
    font-size: 51px;
    color: #888888;
*/
    padding-left: 13%;
}


.camp-p {
    font-size: 17px;
    padding-right: 13%;
    padding-left: 13%;

}

.camp-sec-wrapper {
    padding-bottom: 6%;
    padding-top: 5%;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .2);
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}



.camp-sec h4 {
    font-size: 19px;
    padding-left: 13%;
    padding-right: 13%
}

.coord-name {
    color: black;
}

.coord-email {
    float: right;
    padding-right: 13%;
    color: #00ffe9;
}

.hide-email {
    display: none;
}

.show-hide {
    height: 50px;
    width: 200px;
    text-align: right;
    cursor: pointer;
    float: right;
}

.show-hide:hover .hide-email {
    display: block;
}

.show-hide:hover .show-mail {
    display: none;
}

.read-on-hide {
    display: none;
}

.read-on {
    display: block;
}



.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Read less';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
}


.camp-sec-wrapper:hover {
        transform: scale(1.05);
    transition: all .2s ease-in-out;

}



/*-------------------------------------------------------
contact us page
-------------------------------------------------------*/

#contact-home {
    background-image: url("../img/pirggrouppic.JPG");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;

}

#contact-cover {
    height: 100%;
    background: -webkit-linear-gradient(45deg, rgba(170, 36, 36, 0.6), rgba(74, 186, 257, 0.6));
}

#cont-head h3 {
    padding: 19px;
    font-family: "lato";
    color: #000;
    font-size: 41px;
}

#cont-head {
    padding-bottom: 43px;
}

#contact-list li {
    display: inline-block;
}

.contact-icon {
    font-size: 51px;
    padding: 29px;
    color: #ce2721;
    text-shadow: 2px 2px 0px black;
    padding-bottom: 107px;
}

#cont-left-body p {
    font-size: 25.7px;
    color: black;
    padding: 37px;
}

#email-highlight {
    color: #ce2721;
}

#email-highlight:hover,
.contact-icon:hover {
    color: #00ffe9;
}

#board-list li {
    list-style: none;
    font-size: 21px;
}

#board-list span {
    font-size: 17px;
}

#board-list {
    text-align: center;
}

#brd-head {
    font-size: 31px;
}

.bd-mbr {
    font-size: 19px;
}

#board-mbr {
    text-align: center;
    padding-bottom: 200px;
}

#board-mbr h3 {
    text-align-last: center;
}




/*-------------------------------------------------------
FAQ page
-------------------------------------------------------*/

#faq-home {
    background-image: url("../img/faq.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

#faq-cover {
    height: 100%;
    background: -webkit-linear-gradient(45deg, rgba(100, 0, 119, 0.6), rgba(70, 150, 0, 0.6));
}

.faq-row {
    padding-right: 11%;
    padding-left: 11%;
}


#faq-list {
    padding-top: 10px;
    padding-bottom: 53px;
    padding-left: 0;
    padding-right: 0;
}

#faq-list li a {
    font-size: 19px;
    color: black;
    font-family: lato;
}


.one_faq {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 17px;
    padding-left: 17px;

}

.last-faq {
    padding-bottom: 119px;
}

.question {
    font-size: 23px;
    font-style: italic;
}

.answer {
    font-size: 17px;
    padding-top: 13px;
    color: gray;
    font-family: lato;
    font-weight: 300;
}




/*-------------------------------------------------------
intern pos page
-------------------------------------------------------*/
#intern-pos-home {
    background-image: url("../img/intern3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#intern-pos-cover {
    height: 100%;
    background: -webkit-linear-gradient(45deg, rgba(100, 200, 119, 0.6), rgba(100, 0, 200, 0.6));
}

.question-intern {
    font-size: 23px;
    
}

.intern-p {
    font-size: 17px;
    color: gray;
    font-family: lato;
    font-weight: 300;
}
.inter-total-p {
    font-size: 17px;
    padding-right: 7%;
    padding-left: 7%;
    margin-right: 7%;
    margin-left: 7%;

}

.intern-sec-wrapper {
    padding-bottom: 6%;
    padding-top: 5%;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .2);
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}


.intern-apply {
    text-align: center;
    text-decoration: none;
}

.intern-apply a {
    text-decoration: none;
    color: #ce2721;

}

.intern-apply a:hover {
    text-decoration: underline;
}

.intern-sec-wrapper:hover {
        transform: scale(1.05);
    transition: all .2s ease-in-out;

}


