/*-------------------------------------------------------
font family: Open Sans, permanent marker

colors:
blue:                       #01bafd
pink:                       #f10187

-------------------------------------------------------*/
/* general */
html, body 
{
    height: 100%;
}

body
{
    font-family: "lato";
    height: 100vh;
}

h3 
{
    text-transform: none;
}

p
{
    color: gray;
    font: 17px;
    font-weight: 300;
}


/*-------------------------------------------------------
generic buttons style
-------------------------------------------------------*/
.btn-general 
{
    border-color: white;
    border-width: 1px;
    border-radius: 0;
    padding: 7px 19px;
    font-size: 21px;
    font-weight: 300;
    font-family: "lato";
}

.btn-white
{
    border-color: white;
    color: white;
}

.btn-white:hover, 
.btn-white:focus 
{
    background-color: white;
    color: black;
}

/*-------------------------------------------------------
general custome parallax class
-------------------------------------------------------*/
.bg-parallax
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*-------------------------------------------------------
animation
-------------------------------------------------------*/
#home-cover, #home-heading, #home-btn
{
    animation-duration: 0.5s;
}

#home-cover 
{
    animation-delay: 0.1s;
}

#home-heading
{
    animation-delay: 0.1s;
}

#home-btn
{
    animation-delay: 0.75s;
}


/*-------------------------------------------------------
generic content style
-------------------------------------------------------*/
.content-box
{
    padding: 60px 0 60px 0;
}

.content-title h3
{
    font-size: 47px;
    font-weight: 300;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.content-title-white h3
{
    color: white;
    text-align: center;
}

.content-title-underline 
{
    width: 61px;
    height: 3px;
    background-color: #01bafd;
    margin: 0 auto 31px auto;
}


/*-------------------------------------------------------
generic social media icons style
-------------------------------------------------------*/
.social-list
{
    padding-left: 0;
}

.social-list li
{
    list-style: none;
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-right: 7px;
    margin-top: 11px;
}

.social-icon i 
{
    font-size: 29px;
}

.icon-gray i 
{
    color: darkslategray;
}

.icon-white i 
{
    color: white;
}

.social-icon i:hover
{
    color: #01bafd;
}


/*-------------------------------------------------------
navigation bar
-------------------------------------------------------*/
.navbar-brand
{
    padding: 0;
    margin: 0;
}

.navbar
{
    transition: all .5s ease-in-out;
    padding-top: 5px;
    padding-bottom: 5px;
   /* background-color: white*/
    /*background: rgba(0,0,0,0.79);*/
}

.scroll-top-nav
{
    /*background-color: #96b573;*/
    background: rgba(0,0,0,0.79);
}

.custome-nav-wrapper
{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav
{
    float: right;
    
}

.navbar-nav > li > a 
{
    font-weight: 300;
    margin-bottom: 0;
    color: white;
    font-size: 21px;
   /* text-shadow: 2px 1px 0px black;*/
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus
{
    background: none;
    color: #01bafd;
   /* color: #01bafd;*/
    /*color: #96b573;*/
  /*  text-shadow: 2px 1px 0px black;*/
}

.navbar-toggle
{
    background-color: rgba(0,0,0,0.1);
    border: 1px solid white;
    border-radius: 0;
}

.navbar-toggle .icon-bar
{
    background-color: white;
}

.navbar-collapse
{
    max-height: none !important;
}

.navbar-nav a.current
{
  /*  background: #01bafd;*/
   /* background: #96b573;*/
    background: #8c8c8c;
    color: white;
    border-radius: 25px;
}


/*-------------------------------------------------------
footer section
-------------------------------------------------------*/
#footer
{
    background-color: dimgray;
}

#copyrights p
{
    color: white;
    margin-bottom: 0;
    margin-left: 11px;
}

#footer-left p
{
    color: white;
}

#footer-left h3
{
    color: white;
}

/*-------------------------------------------------------
generic page heading graphics and titles
-------------------------------------------------------*/
.generic-home
{
    height: 61%;

}

.generic-content-box
{
    width: 100%;
    height: 100%;
    display: table;
    background-color: rgba(0,0,0,0.47);

}

.generic-content-box-inner
{
    display: table-cell;
    vertical-align: bottom;
}


.generic-cover-heading h3
{
    font-family: "lato";
    color: #FFF;
    text-align: left;
    font-size: 71px;
    font-weight: 100;
    margin: 20px 0 37px 3.7%;   
}


/*------------------------------------------------------
collapsing section
-------------------------------------------------------*/
#col-sec-btn
{
    margin-top: 100px;
    background-color: aqua;
    width: 100%;
    height: 51px;
}

.fa-arrow-down
{
    color: white;
}


.bounce 
{
    position: fixed;
    animation:  3s infinite;
  }
  




.circle {
    
    border: 1px solid #eee;
    border-radius: 50%;
    color: #fff;
    text-align: center;
  
    display: block;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    height: 100px;
    width: 100px;
    line-height: 100px;
    bottom: 20px;
  
}


.arrow {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 2px;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    vertical-align: middle;
  
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(45deg);
}








/*-------------------------------------------------------
home page welcome section
-------------------------------------------------------*/
#home
{
    height: 100%;
    width: 100%;
    background-image: url("../img/blured-background.png");
    background-size: cover;
    position: relative;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh; 
    
}

#home-cover
{
    height: 100%;
    background-color: rgba(0,0,0,0.45);
}

#home-content-box
{
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner
{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}


#home-heading h3
{
    font-family: "lato";
    font-weight: 100;
    color: #FFF;
    text-align: center;
    font-size: 91px;
    /*text-shadow: 5px 3px 0px #000;*/
    margin: 20px 0 20px 0;
}

.art h2
{
    font-family: "lato";
    font-size: 41px;
    color: #000;
}

.art
{
    padding: 71px;
}

.right-icon
{
    float: right;
    font-size: 17em;
    padding-right: 7%;
    padding-left: 5%;
    color: #01bafd;
    text-shadow: 5px 5px 0px black;
}

.left-icon
{
    float: left;
    font-size: 17em;
    padding-right: 7%;
    padding-left: 5%;
    color: #01bafd;
    text-shadow: 5px 5px 0px black;
}

/*-------------------------------------------------------
ABOUT US PAGE
-------------------------------------------------------*/
#about-cover
{
    height: 100%;
    background-image: url("../img/serenafilter2.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

#right-underline
{
    width: 61px;
    height: 3px;
    background-color: #01bafd;
    margin: 0 23% 0 auto;   
}

#diagonal-pic
{
    background-image: url("../img/fullguyholdingsignfilter.JPG");
    float: left;
    background-position: left;
    background-size: contain;
    width: 50%;
    height: 70px;
    border-top: 900px solid transparent;
    border-right: 200px solid white;
}


.art2
{
    padding-bottom: 23px;
    padding-top: 23px;
    font-size: 17px;
    padding-right: 3%;
    padding-left: 3%;

}

.art3
{
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 23px;
    padding-top: 0;
    font-size: 17px;
}


.mission-headline h2
{
    font-size: 41px;
    text-align: center;
    font-family: "lato";
    color: black;
    padding-bottom: 0px;
}

.about-headline2 h3
{
    text-align: center;
    font-family: "lato";
    font-size: 31px;
}

/*-------------------------------------------------------
cal of events page
-------------------------------------------------------*/
#cal-events-cover
{
    height: 100%;
    background-image: url("../img/marypirg-girl-holding-sign.jpeg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}


#cal-style
{
    padding-right: 11%;
    padding-left: 11%;
    padding-bottom: 283px;
}



/*-------------------------------------------------------
get involved page
-------------------------------------------------------*/
#get-inv-cover
{
    height: 100%;
    background-image: url("../img/guytalkingps.jpg");
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
}

.tex a
{
    padding-left: 0;
    margin-left: 0;
    font-family: "permanent marker";
    color: #01bafd;
    text-shadow: 1px 3.7px 0px #000;
    font-size: 37px;
    text-decoration-line: none;
    text-align: center;
}

.tex a:hover
{
    color: black;
    text-shadow: 1px 3.7px 0px #01bafd;
}

.icon
{
    text-align: center;
}

.icon i
{
    font-size: 91px;
    text-shadow: 2px 2px 0px #01bafd;
}

.icon i:hover
{
    color: #01bafd;
    text-shadow: 2px 2px 0px black;
}

.sub-sec-headline
{
    font-size: 61px;
    font-family: "lato";
    font-weight: 600;
    color: #f10187;
    text-align: center;
}

.sub-sec-headline-big
{
    font-size: 61px;
    font-family: "permanent marker";
    font-weight: 600;
    color: #f10187;
    text-shadow: 2px 2px 0px black;
    text-align: center;
}

.sub-sec-headline h3, h2
{
    text-align: left;
    padding-bottom: 31px;
    font-size: 37px;
    color: #01bafd;
}

.sub-sec-headline h2
{
    color: #f10187;
}

.sub-sec-body
{
    padding-top: 23px;
    font-size: 17px;
}

#apply-now-style1
{
    font-size: 23px;
    text-decoration: none;
    font-family: "lato";
    color: #01bafd;
}

#apply-now-style1:hover, 
#apply-now-style2:hover,
#apply-now-style3:hover
{
    color: #f10187;
}

#apply-now-style2
{
    font-size: 51px;
    text-decoration: none;
    font-family: "permanent marker";
    color: #01bafd;
}

#apply-now-style3
{
    font-size: 61px;
    text-decoration: none;
    font-family: "permanent marker";
    color: #01bafd;
}

.sec-pad
{
    padding-top: 141px;
}

#jobs-row-pad
{
    padding-bottom: 283px;
}
/*-------------------------------------------------------
Campaigns page
-------------------------------------------------------*/
#camp-body
{
    padding-top: 50px;
}
#camp-cover
{
    height: 100%;
    background-image: url("../img/votetabletwitterfilter.JPG");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.camp-headline
{
    font-family: "lato";
    font-size: 51px;
    color: #01bafd;
    padding-left: 7%;
}

.camp-p
{
    font-size: 17px;
    padding-right: 13%;
    padding-left: 13%;
    padding-bottom: 83px;
}

/*-------------------------------------------------------
contact us page
-------------------------------------------------------*/
#contact-cover
{
    height: 100%;
    background-image: url("../img/pirggrouppic.JPG");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

#cont-head h3
{
    padding: 19px;
    font-family: "lato";
    color: #;
    font-size: 41px;
}

#contact-list li
{
    display: inline-block;
}

.contact-icon
{
    font-size: 51px;
    padding: 29px;
    color: #f10187;
    text-shadow: 2px 2px 0px black;
    padding-bottom: 187px;
}

#cont-left-body p
{
    font-size: 25.7px;
    color: black;
    padding: 37px;
    padding-bottom: 187px;
}

#email-highlight{
    color: #f10187;
}

#email-highlight:hover,
.contact-icon:hover
{
    color: #01bafd;
}